.container {
	padding: 2% 10%;
}
.step-wizard .nav-item {
	vertical-align: middle;
	width: 33%;
	text-align: center;
}
.step-wizard .nav-link {
	vertical-align: middle;
	height: 100%;
	background-color: #ccc;
	color: white;
	text-transform: uppercase;
}
.step-wizard .nav-link:hover {
	background-color: #ddd;
}
.step-wizard .active {
	background-color: orange;
}
.step-wizard .active:hover {
	background-color: orange;
}
.step-wizard .disabled {
	cursor: not-allowed;
}
.step-wizard .disabled:hover {
	background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
	display: none;
}
#formStep1, #formStep2 {
	padding-top: 40px;
}
#formStep3 {
	padding-top: 20px;
}