body{
    padding-bottom: 2em;
    min-height: 100%;
    max-width: 650px;
    margin: 2em auto;
}

.form{
    border: solid 0.05em;
    border-radius: 5px;

}

.header{
    border: solid 0.05em black;
    border-bottom: none;
    border-radius: 5px;
    text-align: center;
    background: #5c84c4;
    color: #e9cfd3;
    padding-top: 25px;
}

h1{
    text-align: center;
}

.email, .password{
    font-size: 16px;
    text-align: center;
}

.button{
    text-align: center;
    padding-bottom: 1em;
}

.page-header{
    border-bottom: 2px solid gray;
    margin-bottom: 25px;
}
